.DS_Store
.metadata
 
**/.DS_Store
**/.metadata
 
#individual project level
**/target
**/bin
**/*.jar
**/*.war
**/*.zip
**/node_modules
**/.mvn
 
**/maven
**/m2
 
 
**/.settings
**/.classpath
**/.project


