03-todo-web-application-mysql/.settings
03-todo-web-application-mysql/target
03-todo-web-application-mysql/.classpath
03-todo-web-application-mysql/.project
**/.metadata




**/04-currency-exchange-microservice-basic
**/05-currency-conversion-microservice-basic
**/06-currency-conversion-microservice-cloud